<h2>Países</h2>
<hr />
<ul class="list-group">
  <!-- <li
    [routerLink]="''"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
    role="button"
    class="list-group-item poi"
  >
    Home Page
  </li>
  <li
    routerLink="about"
    routerLinkActive="active"
    class="list-group-item"
    role="button"
  >
    About Page
  </li> -->
  <li
    routerLink="countries/by-capital"
    routerLinkActive="active"
    class="list-group-item"
    role="button"
  >
    Por capital
  </li>
  <li
    routerLink="countries/by-country"
    routerLinkActive="active"
    class="list-group-item"
    role="button"
  >
    Por país
  </li>
  <li
    routerLink="countries/by-region"
    routerLinkActive="active"
    class="list-group-item"
    role="button"
  >
    Por región
  </li>
</ul>
